.Fav_Next {
    position: absolute;
    width: 25vmin;
    top: 85%;
    left: 80%;
    height: 5.5vmin;
    cursor: pointer;

    background-color:transparent;
    border: var(--gold) 2px solid;
    border-radius: 5vmin;

    color: var(--gold);
    font-size: 2vmin;
    text-decoration: none;
    line-height: 5vmin;
}

.Fav_Next:hover {
    background-color: var(--gold);
    color: var(--black-header);
}


