@import url("../global-variable.css");

.container_Bans {
    display: flex;
    width: 100%;
    height: 9vmin;
}

.My_Team_Bans {
    width:45%;
    display: flex;
    margin-left: 10vmin;
}

.All_Ally_Bans {
    width: 9vmin;
    height: 9vmin;
    margin-right: 3vmin;
    background: url("../../assets/Add_Ban.png") no-repeat;
    background-size: cover;
    opacity: 50%;
}

.All_Ally_Bans:hover {
    cursor: pointer;
    opacity: 100%;
}

.Ennemy_Team_Bans {
    width:45%;
    display: flex;
    margin-right: 10vmin;
    justify-content: flex-end;
}

.All_Ennemy_Bans {
    width: 9vmin;
    height: 9vmin;
    margin-left: 3vmin;
    background: url("../../assets/Add_Ban.png") no-repeat;
    background-size: cover;
    opacity: 50%;
}

.All_Ennemy_Bans:hover {
    cursor: pointer;
    opacity: 100%;
}

.VS {
    width: 10%;
    margin:0;

    color: white;
    line-height: 8.5vmin;
    font-size: 5vmin;
    font-weight: bold;
}