@import url('../components/global-variable.css');

.container_About{
    width: 100%;
    height: 75vmin;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 15%;
    text-align: left;

    background: url("../assets/LegalMentions-background.png") no-repeat; 
    background-size: contain;
    background-position:right;
}

.title, .text {
    margin-left: 11vmin;
}

.title {
    font-size: 4.5vmin;
    color:white;
}

.text{
    font-size: 2vmin;
    color:white;
    text-align: left;    
}

.LM, .About {
    margin-top: 5vmin;
    width: 75%;
}

#text_About2 {
    top:5vmin;
    align-content: left; 
}

#ALM_Gold {
    color: var(--gold);
    font-weight: bold;
}