@import url("../global-variable.css");

.container_BanText {
    display: flex;
    width: 100%;
}

.BanTextAlly, .BanTextEnnemy {
    width: 50%;
    color: white;
    font-size: 2vmin;
    font-weight: bold;
    padding-left: 10vmin;
    padding-right: 10vmin;
}

.BanTextAlly {
    text-align: left;
}

.BanTextEnnemy {
    text-align: right;
}