@import url(./components/global-variable.css);

.App {
  text-align: center;
}

body {
  background-color: #051015 ;
}


.is_deactive_overflow {
  overflow:hidden;
}


.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

::-webkit-scrollbar {
  background: var(--background);
  width: 1vmin;
}

::-webkit-scrollbar-track {
  background: #7B6C4E;
  border-radius: 500px;
}

::-webkit-scrollbar-thumb {
  background: var(--gold);
  border-radius: 500px;
}

#HUD_NO_DISPLAY {
  position: absolute;
  width:0%;
  height:0%;
  visibility: hidden;
}

.Separation_Draft_Page {
  width: 100%;
  height: 0.4vw;
  background: linear-gradient(90deg, rgba(255,255,255,0) 5%, rgba(244,205,136,1) 50%, rgba(255,255,255,0) 95%);
}